
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "New Amsterdam", sans-serif;
    font-style: normal;
}

.hero {
    height: 180vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/images/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-position: center;

}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 10% 0 10%;
}


.intro img{
    color: white;
    font-size: 28px;
    width: 10rem;
    height: 8rem;
}

.intro a {
    text-decoration: none;
}

span {
    color: crimson;
}



.services {
    text-align: center;
    margin-top: 5rem;
    
}

.services h2 {
    font-size: 4rem;
}

.services p {
    margin-top: 1rem;
    font-size: 1.5rem;
}


.container {
    display: flex;
    align-items: center; /* Vertically aligns items */
    justify-content: center; /* Horizontally aligns items */
    padding: 20px;
}

.address {
    margin: 1rem 7rem auto 2rem;
}

.hours {
    margin: 1rem 2rem auto 7rem;
}

.appointment {
    margin: 1rem 3rem auto 3rem;
}

.appointment h3 {
    font-size: 2.5rem;

}

.appointment button {
    margin-left: 1.2rem;
}

.container h2 {
    font-size: 2.5rem;
    color: crimson;
    text-align: center;
}

.container p {
    font-size: 2rem;
    margin: 0.5rem;
    text-align: center;
}


.pricing {
    height: 400vh;
    width: 100%;
    background-color: black;
}

.pricing h1 {
    text-align: center;
    font-size: 5rem;
}

.pricing p {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5rem;
}

.pricing-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.pricing-tag:last-child {
    border-bottom: none;
}

.service-name {
    font-size: 6rem;
    color: white;
    margin-left: 1rem;
}

.price {
    font-size: 6rem;
    color: white;
    font-weight: bold;
    margin-right: 1rem;
}

/* styling the bottom booking  */

.booking {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(/images/blackTheme.jpg);
    background-size: cover;
    background-position: center;
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.booking h1 {
    color: white;
}

.booking button{
    margin-left: 2rem;
}




/* styling the footer element */

footer {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 9rem;
    height: 9rem;
    
}

footer ul {
    margin-top: 2rem;
    list-style: none;
    
}
footer ul li {
    display: inline-block;
}

footer ul li a {
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
}

footer ul a:hover {
    color: crimson;
}

.copyright {
    font-size: 1rem;
    margin-top: 7rem;
}
























button {
    border: none;
    background: crimson;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button:hover {
    transform: scale(1.3);
    cursor: pointer;
}

