


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #000;
    font-family: "New Amsterdam", sans-serif;
    font-style: normal;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(/images/hero.png);
    background-size: cover;
    background-position: center;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 10% 0 10%;
}

header img {
    color: white;
    width: 9rem;
    height: 7rem;
}

span {
    color: crimson;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    padding: 1rem;
}

.navbar-links ul li a:hover {
    color: crimson;
    transition:  .3s;
}


.navbar button {
    margin: 0;
    border: none;
    background: crimson;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

.navbar button:hover {
    transform: scale(1.3);
    cursor: pointer;
}

/*  toggle button */

.toggle-button {
    position: absolute;
    top: 6rem;
    right: 3.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home h1 {
    margin-top: 3rem;
    font-size: 7rem;
 }

.home p {
    font-size: 3rem;
    color: white;
}

.home-contact button {
    display: none;
    border: none;
    background: crimson;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-left: 3rem;
    margin-top: 1rem;
}

.home-contact button:hover {
    transform: scale(1.3);
    cursor: pointer;
}



/* styling the about  section */

.about {
    margin-top: 10rem;
    height: 200vh;
    width: 100%;
    background-color: #000;
} 

.container1 {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 20px;
}

.container1 img {
    width: 25rem; 
    height: 30rem;
    margin-right: 20px; 
}

.text-content {
    max-width: 600px;
}

.text-content h2 {
    font-size: 1rem;
    margin: 0;
    color: crimson;
}

.container1 article {
    font-size: 2rem;
    margin-top: 10px;
}

.container2 {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 20px;
    margin-top: 5rem;
}

.container2 img {
    width: 25rem; 
    height: 25rem;
    margin-right: 20px; 
}

.text-content {
    max-width: 600px; 
}

.text-content h2 {
    font-size: 4rem;
    margin: 0;
}

.container2 article {
    font-size: 2rem;
    margin-top: 10px;
    margin-right: 2rem;
}

.booking {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(/images/dan-gold-07AAmZ1dECU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#booking {
    border: 20px solid #000000;
}

.booking h1 {
    color: white;
    font-size: 5rem;
}

.booking button {
    border: none;
    background: crimson;
    padding: 10px 25px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

.booking button:hover {
    transform: scale(1.3);
    cursor: pointer;
}
/* styling the contact element */

.contact {
    width: 100%;
    height: 60vh;
    background-color: white;
    color: #000;
    border: 20px solid #000000;

}

.contact h2 {
    color: #000;
    text-align: center;
    margin-top: 2rem;
    font-size: 3.5rem;
}

.icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.location {
    color: #000;
    font-size: 2rem;
}

.location h2 {
  text-align: center;
  color: #000;
  font-size: 2rem;
  padding: 1rem;
}

.location p {
    text-align: center;
    color: #000;
    font-size: 2rem;
}

.location i {
    color: #000;
    font-size: 2rem;
}

.number {
    color: #000;
    font-size: 2rem;
}

.number h2 {
  text-align: center;
  color: #000;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1rem;
}

.number p {
    text-align: center;
    color: #000;
    font-size: 2rem;
    margin-top: 0.5rem;
}

.number i {
    color: #000;
    font-size: 2rem;
}




/* styling the footer element */

footer {
    height: 75vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 8rem;
    height: 7rem;
    
}

footer ul {
    margin-top: 2rem;
    list-style: none;
    
}
footer ul li {
    display: inline-block;
}

footer ul li a {
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
}

footer ul a:hover {
    color: crimson;
}

.copyright {
    font-size: 0.9rem;
    margin-top: 7rem;
    color: white;
}



/*  styling for other devices with media query */

@media (max-width: 800px) {

    .toggle-button {
        display: flex;
    }

    .navbar-links {
       width: 100%;
       display: none;
    }
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;

    }

    .navbar button {
        display: none;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .home-contact button {
        display: flex;
    }

}

@media (width: 480px) {

    .hero {
        height: 60vh; 
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(/images/hero.png); 
        background-position: center; 
}


}